<template>
  <b-container fluid class="rMap">
    <strong>{{ alive }} Alive</strong><button type="button" @click="test" name="button">test</button>
    <strong v-if="isStarted"> | {{ teams }} Teams</strong>
    <button type="button" v-if="curFrame == 1" @click="startReplay" name="button">start</button>
    <button type="button" v-if="played" @click="played = false" name="button">pause</button>
    <button type="button" v-else @click="startReplay" name="button">start</button>
    <b-progress v-if="matchTime" :value="curFrame" :max="allFrames" variant="success" show-progress animated>
      Progress: <strong>{{ this.timeSecToStr(Math.ceil(curTime)) }} / {{ this.timeSecToStr(Math.ceil(matchTime)) }}</strong>
    </b-progress>
    <br/>
    <b-row>
      <b-col cols="2">
        <b-list-group v-for="(team, iT) in players" :key="iT">
          <b-list-group-item active>Team #{{ iT }} | {{ players[0] }}</b-list-group-item>
          <b-list-group-item v-for="(player, iP) in team" :key="iP">{{ player.player.name }}</b-list-group-item>
        </b-list-group>
      </b-col>
      <b-col cols="10"><div id="map"></div></b-col>
    </b-row>

  </b-container>
</template>

<script>
import '@/assets/leaflet/leaflet.js'
import '@/assets/leaflet/l.ellipse.js'

export default {
  data () {
    return {
      map: 0,
      mapSize: [32768, 32768],
      replayRawData: [],
      replayData: {},
      players: {},
      speed: 800,// 10/20/40/80
      curTime: 0,
      curFrame: 1,
      matchTime: 0,
      logoutPlayers: [],
      played: false,
      alive: 0,
      teams: 0,
      isStarted: false,
      allFrames: 0,
      safeMarker: 0,
      gasMarker: 0,
      redZones: {}
    }
  },
  mounted(){
    this.setupMap()
    this.setupLayer()
    this.loadReplayData()
  },
  methods: {
    test(){
      console.log(this.players);
      console.log(JSON.stringify(this.players));
    },
    mapPosition(x, y){
      return this.map.unproject([x/25, y/25], this.map.getMaxZoom())
    },
    LogPlayerCreate(data){
      if(!data){
        return
      }
      data.map(player => {
        //console.log(player._D + ' ' + player.character.name + ' Connected!');
        let icon = L.divIcon({
          iconSize: 15,
    			iconAnchor: [7, 7],
    			html: '<span class="unit">' +
    			'<span class="unit-player unit-player-alive"></span>' +
    			'<span class="unit-name unit-name-alive">' + player.character.name + '</span>' +
    			'</span>'
        })

        let html = '<div class="progress progress-danger"><div class="bar" style="width:'+player.character.health+'%">'+player.character.health+'%</div></div'

        let mark = L.marker(this.mapPosition(player.character.location.x, player.character.location.y), {
          icon: icon
        }).bindPopup(html).addTo(this.map)
        if(!this.players[player.character.teamId]){
          this.players[player.character.teamId] = {}
        }
        this.players[player.character.teamId][player.character.accountId] = {}
        this.players[player.character.teamId][player.character.accountId].player = player.character
        this.players[player.character.teamId][player.character.accountId].marker = mark
        this.alive++
      })
    },
    LogPlayerPosition(data){
      if(!data){
        return
      }

      data.map(player => {
        this.players[player.character.teamId][player.character.accountId].marker
        .setLatLng(this.mapPosition(player.character.location.x, player.character.location.y))
        .update()
      })
    },
    LogPlayerLogout(data){
      if(!data){
        return
      }

      data.map(player => {
        this.logoutPlayers.push(player.accountId)
        this.alive--
      })
    },
    LogMatchStart(data){
      if(!data){
        return
      }

      this.isStarted = true

      this.logoutPlayers.map(logoutPlayer => {
        for(let team in this.players){
          if(this.players[team][logoutPlayer]){
            this.players[team][logoutPlayer].marker.remove()
            delete this.players[team][logoutPlayer]
          }
          if(!Object.keys(this.players[team]).length){
            delete this.players[team]
          }
        }
      })

      console.warn('Match started!');
    },
    LogGameStatePeriodic(data){
      if(!data){
        return
      }

      console.log(data[0]);

      let gameState = data[0].gameState

      /*if(gameState.poisonGasWarningRadius){
        if(this.gasMarker){
          this.gasMarker = L.circle(this.map.unproject([gameState.poisonGasWarningPosition.x, gameState.poisonGasWarningPosition.y, this.map.getMaxZoom()), {radius: gameState.poisonGasWarningRadius/31.25, fill: false}).addTo(this.map); // blue
        }else{
        }
      }*/
      //L.circle(this.map.unproject([this.mapSize[0]/2, this.mapSize[1]/2], this.map.getMaxZoom()), {radius: 4000/31.25, fill: false}).addTo(this.map); // blue
      //L.circle(this.map.unproject([this.mapSize[0]/2, this.mapSize[1]/2], this.map.getMaxZoom()), {radius: 4000/31.25, fill: false, color: '#fff'}).addTo(this.map); // white
      //L.circle(this.map.unproject([this.mapSize[0]/2, this.mapSize[1]/2], this.map.getMaxZoom()), {radius: 4000/31.25, color: '#ff0000'}).addTo(this.map); // red


      this.alive = data[0].gameState.numAlivePlayers
      this.teams = data[0].gameState.numAliveTeams
    },
    playFrame(frame){
      if(!frame){
        this.played = false
        console.log('Match ended!');
        return
      }
      this.LogPlayerCreate(frame.LogPlayerCreate)
      this.LogPlayerPosition(frame.LogPlayerPosition)
      this.LogPlayerLogout(frame.LogPlayerLogout)
      this.LogMatchStart(frame.LogMatchStart)
      this.LogGameStatePeriodic(frame.LogGameStatePeriodic)
      /*if(frame.LogCarePackageSpawn){
        console.log(frame.LogCarePackageSpawn);
        this.played = false
      }*/
    },
    async replayTick(){
      if(!this.played)
        return
      this.playFrame(this.replayData[Object.keys(this.replayData)[this.curFrame]])
      this.curTime = (Date.parse(Object.keys(this.replayData)[this.curFrame])-Date.parse(this.replayRawData[1]._D))/1000
      this.curFrame++

      console.log(Date.parse(Object.keys(this.replayData)[this.curFrame+1])-Date.parse(Object.keys(this.replayData)[this.curFrame]));

      setTimeout(() => {
        this.replayTick()
      }, 1)
    //  }, (100/this.speed))
    },
    async startReplay(){
      this.played = true
      console.warn('Match time ' +(this.matchTime/60).toFixed(1));

      //let gg = 1000
      //L.ellipse(this.map.unproject([this.mapSize[0]/2, this.mapSize[1]/2], this.map.getMaxZoom()), [362, 362], 0).addTo(this.map);
      let gg = this.map.distance(this.map.unproject([0, 0], this.map.getMaxZoom()), this.map.unproject([this.mapSize[0], this.mapSize[1]], this.map.getMaxZoom()))
      //console.log(this.map.project(gg));
      //L.circle(this.map.unproject([this.mapSize[0]/2, this.mapSize[1]/2], this.map.getMaxZoom()), {radius: 4000/31.25, color: '#ff0000'}).addTo(this.map); // red

      this.replayTick()
    },
    loadReplayData(){
      axios.get('/static/match2.js').then(response => {
        this.replayRawData = response.data
        this.replayRawData.map(frame => {
          if(!this.replayData[frame._D]){
            this.replayData[frame._D] = []
          }
          if(!this.replayData[frame._D][frame._T]){
            this.replayData[frame._D][frame._T] = []
          }

          this.replayData[frame._D][frame._T].push(frame)
        })

        this.matchTime = Date.parse(this.replayRawData[this.replayRawData.length-1]._D)-Date.parse(this.replayRawData[1]._D)
        this.matchTime = this.matchTime/1000
        this.allFrames = this.replayRawData.length

        //this.startReplay()
      })
    },
    setupMap(){
      this.map = L.map('map', {
      	minZoom: 2,
      	zoom: 3,
      	maxZoom: 7,
      	worldCopyJump: false,
      	zoomAnimation: false,
      	keyboard: false,
      	zoomControl: true,
      	crs: L.CRS.Simple
      })
    },
    setupLayer(){
      L.tileLayer('https://pubgmap.co/maps/pubg/erangel/v1/base/{z}_{x}_{y}.jpg', {
      	minZoom: 2,
      	zoom: 3,
      	maxNativeZoom: 5,
      	maxZoom: 7,
      	continuousWorld: true,
      	noWrap: true,
      	//errorTileUrl: '/images/blank.png',
      	attribution: "by Stolen"
      }).addTo(this.map);

      this.map.setView(this.map.unproject([this.mapSize[0]/2, this.mapSize[1]/2], this.map.getMaxZoom()), 3);
    },
    timeSecToStr(data){
      let minuts 		=	Math.floor(data / 60)
    	let hours 		=	Math.floor(minuts / 60)
    	let seconds 	=	data - (minuts * 60)
    	minuts 			=	minuts - (hours * 60);
    	seconds 		=	(seconds < 10) ? "0" + seconds.toString() : seconds.toString()
    	minuts 			=	(minuts < 10) ? "0" + minuts.toString() : minuts.toString()
    	hours 			=	(hours < 10) ? "0" + hours.toString() : hours.toString()

    	return hours + ":" + minuts + ":" + seconds;
    }
  }
}
</script>

<style lang="css">
  .rMap {
    margin-top: 30px
  }
  #map {
    height: 800px;
    width: 100%;
    background-color:#FFFFFF;
  }

  .unit-player {
  	position: absolute;
  	height: 15px;
  	width: 15px;
  	background-repeat: no-repeat;
  }

  .unit-dead {
  	opacity: 0.3;
  }

  .unit-player-alive {
  	background-image: url('http://replay.bystolen.ru/images/green.png');
  }

  .unit-name {
  	position: absolute;
  	top: -1px;
  	left: 19px;
  	font-weight: bold;
  	width: 300px;
  }

  .unit-name-alive {
  	color: #FF0000;
  	text-shadow: 1px 1px 1px #fff, 0 0 1em #000;
  }
</style>
